@charset "utf-8";
/* CSS Document */

/*新手礼包*/
.NewList .module .module-header h2 {margin:0;font-size: 26px;color: #000;text-shadow: 0 -1px 1px rgba(255,255,255,.8); padding-bottom:15px; text-align:left; }
.NewList .module .section{margin:0px auto;}
.line-box{border-bottom:1px solid #ddd; clear:both; padding-bottom:10px;}
.select-head{  font-family:verdana, Georgia, serif,  arial, helvetica, sans-serif;}
.select-head li{list-style:none; text-align:center; color:#444; line-height:30px; display:block; clear:both;}
.select-head li.select-li span{ font-size:20px; font-weight:700; color:#006691;}
.select-head li.select-li select{border:1px solid #878787; width:350px; height:40px; padding-left:10px; font-size:15px; color:#444;}
.select-head li.select-li1{font-size:14px;}
.select-head li.select-li1 font{color:#ff0000; font-size:14px; font-weight:500; }
.select-head li.select-li2{display:block; padding-top:25px; padding-bottom:25px;}
.select-head li.select-li2 a{ padding:8px 30px; background:#22a6e5; font-size:20px; margin-right:20px; color:#fff; border-radius:5px;}
.select-head li.select-li2 a:hover{ text-decoration:none; background:#0a89c6; }
.select-head li.select-li3{color:#369c14; font-weight:700; font-size:24px; }
.select-head li.select-li4{font-size:15px;}
.select-head li.select-li4 font{font-weight:bold; color:#ff0000;}

.code-box{padding:0 15px; line-height:25px; margin-top:-40px;}
.code-box h1{color:#cf3131; font-size:16px; font-weight:bold; padding-bottom:8px;}
.code-box p.code-p{font-size:14px; color:#444;}
.code-box img.img1{display:block; margin:0 auto; padding-bottom:20px;}
.zhuyi{margin-top:10px; color:#444;}
.zhuyi span{color:#cf3131;}